#contact {
    height: 100%;
    display: flex;
    padding: 6%;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 18vh;
}

#contact .banner {
    background-color: #DF6D8C;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49.4vh;
    height: 49.4vh;
    border-radius: 70px 70px 100px 0px;
}

#contact .banner img {
    height: 90%;
}

#contact .left-area  {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 25px;
    width: 24%;
}

#contact .left-area .text-area {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    width: 100%;
}

#contact .left-area .input-area {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
}

#contact .left-area .input-area .input-name {
    display: flex;
    flex-direction: column;
    height: 72px;
    gap: 2px;
}

#contact .left-area .input-area .input-name input {
    border: 2px solid;
    border-radius: 8px;
    height: 100%;
}

#contact .left-area .input-area .input-email {
    display: flex;
    flex-direction: column;
    height: 70px;
    gap: 2px;
}

#contact .left-area .input-area .input-email input {
    border: 2px solid;
    border-radius: 8px;
    height: 100%;
}

#contact .left-area .input-area button {
    width: 24%;
    height: 30px;
}
