#home {
    display: flex;
    min-height: calc(100vh - 88px);
    position: relative;
}

#cta {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 11%;
    z-index: 2;
}

#cta .title {
    font-size: 3.7rem;
    color: #FFFFFF;
    font-weight: 600;
}

#cta .description {
    width: 120%;
    font-size: 1.2rem;
    color: #FFFFFF;
    font-weight: 300;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 63%;
    z-index: 2;
}

#banner img {
    width: 100%;
    height: fit-content;
}

.shape {
    background-color: #DF6D8C;
    width: 76%;
    height: 100%;
    position: absolute;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 268.5px;
    z-index: 1;
}
